body {
  background-color: #ebeaef;
}

.navbarBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: transparent;
}

.navbarBox a {
  font-size: 24px;
  letter-spacing: 2px;
  font-weight: bold;
  user-select: none;
  text-decoration: none;
  color: #161616;
  transition: 0.5s;
}

.navbarBox a:hover {
  color: #e24538;
}

.navbarBox .sidebarToggler {
  background-color: #e24538;
  color: #ebeaef;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 2px solid #e24538;
  border-radius: 50px;
  font-size: 22px;
  font-weight: bold;
  transition: 0.5s;
}

.navbarBox .sidebarToggler:hover {
  border-color: #e24538;
  background-color: #ebeaef;
  color: #e24538;
}

.sidebar {
  background-color: #e24538;
  color: #ebeaef;
}

.sidebar .offcanvas-title {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
}

.sidebar .offcanvas-body div:nth-child(1) {
  font-size: 30px;
  font-weight: bold;
  border-bottom: 1px solid #ebeaef;
  padding-bottom: 8px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-link {
  color: #e24538;
  background-color: #ebeaef;
  padding: 10px;
  font-weight: 600;
  transition: 0.5s;
  width: 100%;
}

.sidebar .offcanvas-body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.sidebar .offcanvas-header .text-reset {
  color: #ebeaef;
  border: none;
  background-color: transparent;
  font-size: 20px;
  transition: 0.4s;
}

.sidebar .offcanvas-header .text-reset:hover {
  font-size: 24px;
  color: #161616;
}

.sidebar .offcanvas-body::-webkit-scrollbar {
  display: none;
}

.sidebar .nav-link:hover {
  padding: 12px;
  color: #161616;
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 992px) and (min-width: 767px) {
}

@media screen and (max-width: 1200px) and (min-width: 991px) {
}
